airflow==1.8.0
tables
h5py
pyyaml
boto
sklearn
pandas
numpy
pint
scipy
six
xgboost
sphinx
tox
networkx
findspark
gensim
nltk
ffmpeg-python
youtube_dl
google-cloud
google-api-python-client
oauth2client
google
google-cloud-translate
google-cloud-vision
pydub
mutagen
PyPDF2
speechRecognition
python-Levenshtein
plotly
natsort
