#!/bin/bash

source "{{virtualenv_dir}}/bin/activate"

pyb install_dependencies clean publish
pyb sphinx_generate_documentation
tox

rm -rf mlwb_venv/

mkdir -p bin/

cp -r dist/daggit-0.5.0/dist/* bin/

